
<div class="form">
<p class="title">ログイン</p>
<%= form_for(:session, url: login_path) do |f| %>
  <div class="input-place">
    <%= 'メールアドレス' %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="input-place">
    <%= 'パスワード' %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="center">
    <%= f.submit "ログイン", class: "submit-btn btn btn-light btn-outline-secondary" %>
  </div>
<% end %>
</div>
