<%= form_tag({ action: :location }, method: :get, remote: true) do %>
  <!-- 位置情報を更新するボタン -->
  <%= submit_tag "位置情報を更新して検索", class: 'ml-2' %>
<% end %>

<div class="image-grid">
  <% @shops.each_with_index do |shop, index| %>
    <div class="image-item">
        <%= link_to shop_path(id: shop.code) do %>
            <img src="<%= shop.img %>" alt="<%= shop.name %>">
        <% end %>    
    </div>
  <% end %>
</div>