<%= link_to "位置情報を更新", action: :positionjs, remote: true %>
<div class="image-grid">
  <% @shops.each_with_index do |shop, index| %>
    <div class="image-item">
        <%= link_to shop_path(id: shop.code) do %>
            <img src="<%= shop.img %>" alt="<%= shop.name %>">
        <% end %>    
    </div>
  <% end %>
</div>
<% if logged_in? %>
  <%= render 'shops/logged_in' %>
<% else %>
  <%= render 'shops/not_logged_in' %>
<% end %>


<%# 位置情報を取得して、近い距離のお店の写真を表示
 半径何キロ圏内のお店を表示するか %>
