

<% if @user.errors.any? %>
  <p>エラーがあります</p>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <% if message != 'パスワードは16文字以内で入力してください' %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<div class="form">
<p class="title">ユーザ編集</p>
    <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <div class="input-place">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %><br>
        </div>

        <div class="input-place">
          <%= f.label :email %><br>
          <%= f.text_field :email, class: "form-control" %><br>
        </div>
        <div class="input-place">
          <%= f.label :password %><br>
          <%= f.password_field :password, class: "form-control" %><br>
        </div>
        <div class="center">
          <%= f.submit "送信", class: "submit-btn btn btn-light btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
</div>