<% if @user.errors.any? %>
  <p>エラーがあります</p>
  <ul>
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>


<div class="form">

  <p class="title">新規会員登録</p>
    <%= form_with model: @user, local: true do |f| %>
      <div class="form-group">
        <div class="input-place">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %><br>
        </div>

        <div class="input-place">
          <%= f.label :email %><br>
          <%= f.text_field :email, class: "form-control" %><br>
        </div>
        <div class="input-place">
          <%= f.label :password %><br>
          <%= f.password_field :password, class: "form-control" %><br>
        </div>
        <div class="center">
          <%= f.submit "登録", class: "submit-btn btn btn-light btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
</div>
