<!DOCTYPE html>
<html>
  <head>
    <title>NearByCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="#"><%= image_tag 'logo.png', class: 'logo_img' %></a>
      <% if current_user %>
      <%= current_user.name %>
      <% end %>
      <nav class="pc-nav">
          <ul>
              <li><%= link_to "Top", root_path %></li>
              <li><%= link_to "位置情報検索", position_shops_path %></li>
              <li><a href="#">エリア検索</a></li>
              <li><a href="#">個人ページ</a></li>
          </ul>
      </nav>
    </header>
    <div class = "m-5"><%= yield %></div>
  </body>
</html>
