<!DOCTYPE html>
<html>
  <head>
    <title>NearByCafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <h1>Near By Cafe</h1>
      <nav class="pc-nav">
        <ul>
          <% if current_user %>
          <li><%= link_to "Top", shops_path %></li>
          <li><%= link_to "位置情報検索", position_shops_path %></li>
          <li><%= link_to "エリア指定検索", search_shops_path %></li>
          <li><%= link_to current_user.name, user_path(current_user) %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "新規登録", new_user_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
          <% end %>
          
        </ul>

      </nav>
    </header>
    <div class = "m-5"><%= yield %></div>
  </body>
</html>
